@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: white;
  color: black;
}

form {
  width: 40%;
  margin: 20px;
  padding: 50px;
  background: #DFDFDF;
  border-radius: 5%;
}

button {
  width: 410px;
  background-color: #008000;
}
